.footer
{
  background: #466874;
  height: 5vw;
  width: 100%;
  border-top: 0.5vw solid;
  border-bottom: 0.5vw solid;
  border-color: #f7f7e2;
  position: relative;
}


.footer_title__description
{
  display: block;
  color: #f7f7e2;
  text-align: center;
  justify-content: center;
  font-size: 0.8vw;
}
